<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/"  method="get">	
        <label for="nombre"><h1>Busca localidad</h1></label>
        <input type="search" name="nombre" placeholder="Localidad" required minlength="4">
        <input type="submit" value="Buscar">
        
        <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias">Mapa De Argentina con sus provincias</a></p>
    </form>
</body>
</html>