<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/"  method="get">	
        <label for="nombre"><h1>Busca localidad</h1></label>
        <input type="search" name="nombre" placeholder="Localidad" required minlength="4">
        <input type="submit" value="Buscar">
    </form>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias">Mapa De Argentina con sus provincias</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/06">Localidades Buenos Aires</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/10">Localidades Catamarca</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/14">Localidades Cordoba</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/18">Localidades Corrientes</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/22">Localidades Chaco</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/26">Localidades Chubut</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/30">Localidades Entre Rios</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/34">Localidades Formosa</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/38">Localidades Jujuy</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/42">Localidades La Pampa</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/46">Localidades La Rioja</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/50">Localidades Mendoza</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/54">Localidades Misiones</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/58">Localidades Neuquén</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/62">Localidades Rio Negro</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/66">Localidades Salta</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/70">Localidades San Juan</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/74">Localidades San Luis</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/78">Localidades Santa Cruz</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/82">Localidades Santa Fe</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/86">Localidades Santiago del Estero</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/94">Localidades Tierra del Fuego</a></p>
    <p><a href="https://mapalocalidadesargentina.herokuapp.com/provincias/90">Localidades Tucuman</a></p>


</body>
</html>